In [1]:
x:1 2 3 4 5
sum x
sums x

15

1 3 6 10 15

In [13]:
x:3 4#1+til 12
x
"sum_of_colum"
sum x
"sum of rows"
sum each x

1 2  3  4
5 6  7  8
9 10 11 12

"sum_of_colum"

15 18 21 24

"sum of rows"

10 26 42

In [25]:
show x:log 1+til 5
y:1 4 1 4 1

"This shows the index posistion of each characeter 1:0 2 4"
show a:value group y

"sum across each row"
sum each x[a]

"To confirm"
sum x[0 2 4]
sum x[1 3]

sum each x value group y

0 0.6931472 1.098612 1.386294 1.609438
0 2 4
1 3

"This shows the index posistion of each characeter 1:0 2 4"

"sum across each row"

2.70805 2.079442

"To confirm"

2.70805

2.079442

2.70805 2.079442

In [49]:
show x:1+til 4

show y:3 4#2+til 12

show "row wise addition i.e 1+2 2+3 3+4 4+5"
show x+/:y

1 2 3 4
2  3  4  5
6  7  8  9
10 11 12 13
"row wise addition i.e 1+2 2+3 3+4 4+5"
3  5  7  9
7  9  11 13
11 13 15 17

In [73]:
x:100
y:1 2 3 4 5

show "add x to the last element of y (not in place)"
show @[y;-1+count y; +;x]
show y
show "add x to last element (in place)"
show @[`y;-1+count y;+;x]
show y

"add x to the last element of y (not in place)"
1 2 3 4 105
1 2 3 4 5
"add x to last element (in place)"
`y
1 2 3 4 105

In [80]:
x:10 9 10 7 8
y:80 63 70 63 64

show "element-wise addition"
show sum y%x

"element-wise addition"
39f

In [87]:
x:1 2 3 4 5

show "1^2 + 2^2 .."
sum x*x

"1^2 + 2^2 .."

55

1 2 3 4 5