**The exec Template**

exac is the same as select,
it is the same format

The key point of exec is that the output is not rectangular

In [2]:
t:([] name:`a`b`c`d; state:`PL`FL`PL`HI)
select name, distinct state from t

length: length

In [3]:
exec name, distinct state from t

name | `a`b`c`d
state| `PL`FL`HI

In [6]:
exec name from t where state in `PL`FL

`a`b`c

In [7]:
t:([] c1:`a`b`c; c2:10 20 30)
update c1:`x`y`z from t

c1 c2
-----
x  10
y  20
z  30

In [9]:
update c3:42 from t
update c2:c2+100 from t where c1<>`a

c1 c2 c3
--------
a  10 42
b  20 42
c  30 42

c1 c2
------
a  10
b  120
c  130

In [18]:
// you can store the result of an row-wise operation
t:update c3:1b from t where c2>20
t

c1 c2 c3
--------
a  10 0
b  20 0
c  30 1

In [25]:
update c2:0 from t where c3 = 0

c1 c2 c3
--------
a  0  0
b  0  0
c  30 1

### Sorting

tables/keyed tables in q/kdb are made of a list of records. <br>
There is no `Order By` in kdb <br>
However, there is built in functions such as xasc,xdesc,xcols

In [28]:
t:([] c1:`a`b`c`a; c2:20 10 40 30)
`c2`c1 xasc t

c1 c2
-----
b  10
a  20
a  30
c  40

In [30]:
`c1`c2 xdesc t

c1 c2
-----
c  40
b  10
a  30
a  20

In [32]:
//Renanming columns

In [37]:
`new1`new2 xcol t

new1 new2
---------
a    20
b    10
c    40
a    30

In [35]:
// Renaming columns
@[cols[t]; where cols[t]=`c2; :; `new2] xcol t

c1 new2
-------
a  20
b  10
c  40
a  30

### Joins

A join sews back together along a foreign key/primary linkage data that has been factored into normal form. A join can be classified as inner or outer. An inner join pairs only records in both operands having matching keys. A left outer Join includes all records in the left operand, pairing them with records having matching key in the right operand, should such exist. A right outer Join reverses left and right in this description

__Implict Joins__

`m LEFT JOIN d ON m.key = d.k`

In [44]:
t:([] k:1 2 3 4; c:10 20 30 40)
kt:([k:2 3 4 5]; v:200 300 400 500)

t lj kt

k c  v
--------
1 10
2 20 200
3 30 300
4 40 400

In [50]:
kt:([k:1 2 3 4 5]; v1:10 20 30 40 50; v2:1.1 2.2 3.3 4.4 5.5)
tf:([]k:`kt$2 3 4 5; v:200 300 400 500)

In [51]:
tf lj kt

k v   v1 v2
------------
2 200 20 2.2
3 300 30 3.3
4 400 40 4.4
5 500 50 5.5

**Column Lookup**

when you need to rename the column to join use the following

In [52]:
t:([] k:1 2 3 4; c:10 20 30 40)
kt:([k1:2 3 4 5]; v:2.2 3.3 4.4 5.5)
select c,v:kt[([] k1:k);`v] from t

c  v
------
10
20 2.2
30 3.3
40 4.4

In [1]:
t:([] f:`rocky`bull;
      l: `squirrel`moose;
      c: 10 20)
kt:([fn:`rocky`bull`fearless;
    ln: `squirrel`moose`leader]
    v: 1.1 2.2 3.3)


select c,v:kt[([] fn:f; ln:l);`v] from t

c  v
------
10 1.1
20 2.2

**Inner Join(ij)**

inner joins finds the intersection in data <br>
`m,d WHERE m.k=d.k
 m INNER JOIN d ON m.k=d.k`

In [4]:
t:([] k:1 2 3 4; c:10 20 30 40)
kt:([k:2 3 4 5]; v:2.2 3.3 4.4 5.5)

t ij kt

k c  v
--------
2 20 2.2
3 30 3.3
4 40 4.4

In [6]:
t:([] k:1 2 3 4; v:10 20 30 40)
kt:([k:2 3 4 5]; v:200 300 400 500)

t ij kt

k v
-----
2 200
3 300
4 400

In [8]:
kt1:([k:1 2 3 4]; B:10 0N 30 40)
kt:([k:2 3 4 5] v:200 300 400 500)
kt1 ij kt

k| B  v
-| ------
2|    200
3| 30 300
4| 40 400

In [12]:
// This is used when joining base on a particular key
t1:([] k:1 2 3 4; c:10 20 30 40)
t2:([] k:2 2 3 4 5; c:200 222 300 400 500; v:2.2 22.22 3.3 4.4 5.5)

t1 ij `k xkey t2
ej[`k; t1; t2]

k c   v
---------
2 200 2.2
3 300 3.3
4 400 4.4

k c   v
-----------
2 200 2.2
2 222 22.22
3 300 3.3
4 400 4.4

In [ ]:
//9.9.6 Plus Join (pj)