https://stackoverflow.com/questions/12322289/kdb-like-asof-join-for-timeseries-data-in-pandas

### KDB+ asof join timeseries

In [10]:
// Error made
// q will collate space-separated lists into a single object for numeric values, and even then the 
//type specification must be only present for the last item

t:([] 
    time:09:30:00.439 09:30:00.439 09:30:02.332 09:30:02.332 09:30:02.333;
    sym:`NVDA`NVDA`NVDA`NVDA`NVDA;
    price:13.42 13.42 13.42 13.42 13.41f;
    size: 60511 60511 100 100 100i)

In [11]:
t

time         sym  price size
-----------------------------
09:30:00.439 NVDA 13.42 60511
09:30:00.439 NVDA 13.42 60511
09:30:02.332 NVDA 13.42 100
09:30:02.332 NVDA 13.42 100
09:30:02.333 NVDA 13.41 100

In [8]:
meta t

c    | t f a
-----| -----
time | t
sym  | s
price| f