In [2]:
d:`firstName`lastName!`Tom`Jerry
d
d[`age]:22

firstName| Tom
lastName | Jerry

type: type

In [9]:
d2:`firstName`lastName`zipCode!`Tom;`Jerry;10583;
show d2
d2:`firstName`lastName`zipCode!(`Tom;`Jerry;10583);
show d2

`firstName`lastName`zipCode!`Tom
firstName| `Tom
lastName | `Jerry
zipCode  | 10583

In [10]:
d3: `firstName`lastName!`Tom`Jerry
d[`state]:`NY
d3

firstName| Tom
lastName | Jerry

In [12]:
d4:`firstName`lastName!`Tom`Jerry
d4

d4,(enlist `age)!(enlist 35)

firstName| Tom
lastName | Jerry

firstName| `Tom
lastName | `Jerry
age      | 35

In [13]:
update age:24,zipcode:823638,address:"pig" from d

firstName| `Tom
lastName | `Jerry
state    | `NY
age      | 24
zipcode  | 823638
address  | "pig"

'2020.05.26T16:48:10.157 timeout reporting -- exiting