In [1]:
getTradingDays:{
    firstDate: 2020.03.01;
    lastDate: 2020.03.31;
    dates:firstDate + til(lastDate-firstDate)+1;
    dates where not (dates mod 7) in 0 1
 };

simulateTrades:{ [seed;nTrades]
    tradingDays:getTradingDays[];
    
    system "S ", string seed;
    dates:nTrades?tradingDays;
    
    system "S ", string seed;
    tickers:nTrades?`3;

    system "S ", string seed;
    volumes: 100*nTrades?1+til 100;
    
    ([] date:dates; ticker:tickers; volume:volumes)
 };

trades:simulateTrades[-314159;5000000]

In [2]:
trades

date       ticker volume
------------------------
2020.03.18 mil    1300
2020.03.12 igf    1100
2020.03.16 kao    200
2020.03.03 baf    9100
2020.03.13 kfh    7400
2020.03.17 jec    9100
2020.03.09 kfm    4400
2020.03.30 lkk    9100
2020.03.10 kfi    8500
2020.03.03 fgl    6400
2020.03.09 enf    9400
2020.03.06 plh    5500
2020.03.19 nni    3900
2020.03.13 glc    9800
2020.03.04 gkp    8900
2020.03.11 bgh    5900
2020.03.02 ifn    6900
2020.03.25 foh    4600
2020.03.20 kdj    300
2020.03.13 eeg    4000
..

In [3]:
topTradedSymbols:([]
  date:`date$();
  ticker:`symbol$();
  dailyVol:`long$()
 )

Find the top 10 symbols that are most actively traded (measured by total traded shares) on each day. The returned table should have 220 rows, i.e. 10 rows for each day and the following schema:

In [8]:
dailyVolume:`date`dailyVol xdesc 0!select dailyVol:sum volume by date,ticker from trades;

In [9]:
dailyVolume

date       ticker dailyVol
--------------------------
2020.03.31 apk    436300
2020.03.31 hmi    429500
2020.03.31 iph    425500
2020.03.31 aod    425200
2020.03.31 gbi    423900
2020.03.31 njn    423800
2020.03.31 gda    422900
2020.03.31 hof    420300
2020.03.31 pgj    419600
2020.03.31 gii    416200
2020.03.31 hkf    411000
2020.03.31 nhl    408400
2020.03.31 djo    407400
2020.03.31 aed    406400
2020.03.31 fad    406400
2020.03.31 oln    405500
2020.03.31 bpp    404600
2020.03.31 dhp    400800
2020.03.31 lgf    398800
2020.03.31 hlg    398700
..

In [26]:
func1:select from dailyVolume where ({x in 10#x};i) fby date

In [27]:
func2:ungroup select sublist[10] ticker, sublist[10] dailyVol by date from dailyVolume

In [28]:
func3:ungroup select 10#ticker,10#dailyVol by date from dailyVolume

In [29]:
func4:select from dailyVolume where i in raze 10#/:group date

In [34]:
\t:100000000 func1
\t:100000000 func2
\t:100000000 func3
\t:100000000 func4

1468

1504

1589

1657

In [35]:
\t:10000000 func1
\t:10000000 func2
\t:10000000 func3
\t:10000000 func4

174

154

161

169

In [36]:
\t:10000000 func1
\t:10000000 func2
\t:10000000 func3
\t:10000000 func4

187

151

159

167