In [1]:
dataList:(
   "date,sym,order type,orderQty"
  ;"2020.03.09,AAPL.OQ,MID QUOTE,80000"
  ;"2020.03.09,AAPL.OQ,FAR TOUCH,50000"
  ;"2020.03.09,AAPL.OQ,NEAR TOUCH,120000"
  ;"2020.03.10,AAPL.OQ,MID QUOTE,100000"
  ;"2020.03.10,AAPL.OQ,FAR TOUCH,70000"
  ;"2020.03.10,AAPL.OQ,NEAR TOUCH,170000"
  ;"2020.03.09,IBM.N,MID QUOTE,83000"
  ;"2020.03.09,IBM.N,FAR TOUCH,54000"
  ;"2020.03.09,IBM.N,NEAR TOUCH,129000"
  ;"2020.03.10,IBM.N,MID QUOTE,130000"
  ;"2020.03.10,IBM.N,FAR TOUCH,79000"
  ;"2020.03.10,IBM.N,NEAR TOUCH,175000"
  ;"2020.03.09,BABA.N,MID QUOTE,120000"
  ;"2020.03.09,BABA.N,FAR TOUCH,68000"
  ;"2020.03.09,BABA.N,NEAR TOUCH,930000"
  ;"2020.03.10,BABA.N,MID QUOTE,150000"
  ;"2020.03.10,BABA.N,FAR TOUCH,96000"
  ;"2020.03.10,BABA.N,NEAR TOUCH,2030000"
 );

dataTbl:("DSSJ"; enlist ",") 0:dataList;

In [4]:
meta dataTbl
dataTbl

c         | t f a
----------| -----
date      | d
sym       | s
order type| s
orderQty  | j

date       sym     order type orderQty
--------------------------------------
2020.03.09 AAPL.OQ MID QUOTE  80000
2020.03.09 AAPL.OQ FAR TOUCH  50000
2020.03.09 AAPL.OQ NEAR TOUCH 120000
2020.03.10 AAPL.OQ MID QUOTE  100000
2020.03.10 AAPL.OQ FAR TOUCH  70000
2020.03.10 AAPL.OQ NEAR TOUCH 170000
2020.03.09 IBM.N   MID QUOTE  83000
2020.03.09 IBM.N   FAR TOUCH  54000
2020.03.09 IBM.N   NEAR TOUCH 129000
2020.03.10 IBM.N   MID QUOTE  130000
2020.03.10 IBM.N   FAR TOUCH  79000
2020.03.10 IBM.N   NEAR TOUCH 175000
2020.03.09 BABA.N  MID QUOTE  120000
2020.03.09 BABA.N  FAR TOUCH  68000
2020.03.09 BABA.N  NEAR TOUCH 930000
2020.03.10 BABA.N  MID QUOTE  150000
2020.03.10 BABA.N  FAR TOUCH  96000
2020.03.10 BABA.N  NEAR TOUCH 2030000

Answer the following two questions:

- Find the total order qty (orderQty) across all dates grouped by order type

- Find the total order qty for order type MID QUOTE, grouped by sym

In [6]:
a:();
b:(enlist `orderType)!(enlist `$"order type");
c:(enlist `totalOrderQty)!(enlist (sum;`orderQty));
?[dataTbl;a;b;c]
a
b
c

orderType | totalOrderQty
----------| -------------
FAR TOUCH | 417000
MID QUOTE | 663000
NEAR TOUCH| 3554000

orderType| order type

totalOrderQty| sum `orderQty

In [16]:
/Find the total order qty for order type MID QUOTE, grouped by sym
a:(enlist (=;`$"order type";enlist `$"MID QUOTE"));
b:(enlist `sym)!(enlist `sym);
c:(enlist `totalOrderQty)!(enlist (sum;`orderQty));
?[dataTbl;a;b;c]
a
b
c

sym    | totalOrderQty
-------| -------------
AAPL.OQ| 180000
BABA.N | 270000
IBM.N  | 213000

= `order type ,`MID QUOTE

sym| sym

totalOrderQty| sum `orderQty

Full disclosure: functional form is difficult. Along with iterators and generalized application, it completes the Big Three aspects of q that separate q pretenders from contenders. Fortunately there is a cheat that can be helpful in most situations.

now that i have been looking at this for awhile?  
[t;a;b;c]
t-> table   
a-> where   -> only want to those that `order type`=`MID QUOTE`  
b-> groupby -> group by `sym`  
c-> select  -> select sum of `orderqty` and save as totalOrderQty