In [3]:
a:42
a
show a

42

42

In [5]:
b:1+a:42
b

43

In [8]:
a:42 /comment
a

42

In [9]:
1+a:42

43

In [10]:
b:1+a:42
b

43

In [12]:
42 /64-bit

42

In [13]:
98.6

98.6

In [14]:
2+3

5

In [15]:
2.2*3.0

6.6

In [16]:
4%2

2f

In [17]:
42=40+2
42=33

1b

0b

In [52]:
2000.01.01 
2000.01.01 = 0

2014.11.19 
2014.11.19 = (365-31)+19+(14*365)
(365-31)+19+(14*365) = 5436

/ why does this return 353, 0b what is type -7h

2000.01.01

1b

2014.11.19

0b

353

In [49]:
type( (365-31)+19+(14*365) )
type( 5436 )

-7h

-7h

delta: delta

In [53]:
2000.01.01=0

1b

In [64]:
/ Lists 101

(1; 1.2; `one)
(1.2; 2.2; 3.3)
(2000.01.01; 2000.01.02; 2001.01.03)
(1b; 0b; 1b)
(`one; `two; `three)

1
1.2
`one

1.2 2.2 3.3

2000.01.01 2000.01.02 2001.01.03

101b

`one`two`three

In [70]:
til 10
1+til 10
2*til 10
1+2*til 10
(1+2)*til 10

0 1 2 3 4 5 6 7 8 9

1 2 3 4 5 6 7 8 9 10

0 2 4 6 8 10 12 14 16 18

1 3 5 7 9 11 13 15 17 19

0 3 6 9 12 15 18 21 24 27

In [74]:
1 2 3, 4 5
1 2 3, 100
0, 1 2 3 4

1 2 3 4 5

1 2 3 100

0 1 2 3 4

In [76]:
/ Operator #, takes the positional arguments

2#til 10
-2#til 10

0 1

8 9

In [78]:
5#1 2 3
5# 42 42 42

1 2 3 1 2

42 42 42 42 42

In [79]:
L: 10 20 30
L[0]
L[1]
L[2]

10

20

30

In [81]:
{[x] x*x}
sq:{[x] x*x}

{[x] x*x}

In [85]:
{[x;y] a:x*x; b:y*y; a+b}
pyth:{[x;y] a:x*x; b:y*y; a+b}

{[x;y] a:x*x; b:y*y; a+b}

In [89]:
{[x] x*x}[5]
sq[5]
{[x;y] a:x*x; b:y*y; a+b}[3;4]
pyth[3;4]

25

25

25

25

In [91]:
f:{x*x}
f 5

25

In [94]:
42+100 200 300
100 200 300+42
100 200 300+1 2 3

142 242 342

142 242 342

101 202 303

In [96]:
0 +/ 1 2 3 4 5
0 +/ 1+til 100

15

5050

In [97]:
0 {x+y}

0x6261410003
`x`y
`symbol$()
,`
3 1 2 0
()
""
-1
"{x+y}"

In [100]:
(+/) 1 2 3 4 5
(+/) 1+til 100
(*/) 1+til 10

15

5050

3628800

In [102]:
42|98 / Or
42&98 / And

98

42

In [106]:
sum 1+til 10
prd 1+ til 10
max 20 10 30
min 20 10 30

55

3628800

30

10

In [108]:
(*/) 2#1.4142135
n:5
(*/) n#10

2f

100000

In [116]:
(*\) 2#1.4142132
(*\) 9#10
(+\) 1+til 10
(*\) 1+til 10
(|\) 20 10 40 30
(&\) 20 30 10 50

1.414213 1.999999

10 100 1000 10000 100000 1000000 10000000 100000000 1000000000

1 3 6 10 15 21 28 36 45 55

1 2 6 24 120 720 5040 40320 362880 3628800

20 20 40 40

20 20 10 10

In [119]:
sums 1+til 10
prds 1+til 10
maxs 20 10 40 30
mins 20 10 40 30

1 3 6 10 15 21 28 36 45 55

1 2 6 24 120 720 5040 40320 362880 3628800

20 20 40 40

20 10 10 10

In [123]:
F0:1 1
-2#F0
sum -2#F0
F0,sum -2#F0

1 1

2

1 1 2

In [132]:
{x,sum -2#x}[1 1]
{x,sum -2#x}[1 1 2]
10{x,sum -2#x}/1 1

1 1 2

1 1 2 3

1 1 2 3 5 8 13 21 34 55 89 144

In [136]:
{[xn] xn-((xn*xn)-2)%2*xn}/[1]

1.414214

In [137]:
\P 0

In [138]:
{[xn] xn-((xn*xn)-2)%2*xn}/[1.0]

1.4142135623730951

In [141]:
a:{[xn] xn-((xn*xn)-2)%2*xn}\[1.0]
show a
count a

1 1.5 1.4166666666666667 1.4142156862745099 1.4142135623746899 1.414213562373..

6

In [143]:
{[c;xn] xn-((xn*xn)-c)%2*xn}[3.0;]/[1]

1.7320508075688772

In [146]:
{[p; c; xn] xn-(((*/)p#xn)-c)%p*(*/)(p-1)#xn}[2; 3.0;]/[1.0]

1.7320508075688772

In [147]:
{[p; c; xn] xn-(((*/)p#xn)-c)%p*(*/)(p-1)#xn}[5; 7.0;]/[1.0]

1.4757731615945617

# 1.14 Example: FIFO Allocation

In [3]:
buys:2 1 4 3 5 4f
sell:12

In [4]:
sell&sums buys

2 3 7 10 12 12f

In [5]:
deltas 1 2 3 4 5
deltas 10 15 20

1 1 1 1 1

10 5 5

In [6]:
deltas sell&sums buys

2 1 4 3 2 0f

In [20]:
sells
buys
sums [sells]
sums [buys]

2 4 3 2f

2 1 3 5 4f

2 6 9 11f

2 3 6 11 15f

In [ ]:
buys:2 1 3 5 4f
sells:2 4 3 2f
sells &\: buys
sums[sells] &\: sums[buys]
sums[sells] |\: sums[buys]

In [25]:
sums[sells] &\: sums[buys]

2 2 2 2  2
2 3 6 6  6
2 3 6 9  9
2 3 6 11 11

In [24]:
deltas sums[sells] &\: sums[buys]

2 2 2 2 2
0 1 4 4 4
0 0 0 3 3
0 0 0 2 2

In [30]:
deltas each sums[sells] &\: sums[buys]

2 0 0 0 0
2 1 3 0 0
2 1 3 3 0
2 1 3 5 0

In [29]:
deltas each deltas  sums[sells] &\: sums[buys]

2 0 0 0 0
0 1 3 0 0
0 0 0 3 0
0 0 0 2 0

### Dictionaries and Tables

In [4]:
d:`a`b`c!10 20 30
show d
show d[`a]

a| 10
b| 20
c| 30
10

In [18]:
dc:`c1`c2!(10 20 30; 1.1 2.2 3.3)
show dc
dc[`c1][0]
dc[`c1; 0]
dc[`c1; 1]

c1| 10  20  30
c2| 1.1 2.2 3.3

10

10

20

In [24]:
dc
dc[;0]
dc[;1]
dc[;0 1]

c1| 10  20  30
c2| 1.1 2.2 3.3

c1| 10
c2| 1.1

c1| 20
c2| 2.2

c1| 10  20
c2| 1.1 2.2

In [29]:
t: flip `c1`c2!(10 20 30; 1.1 2.2 3.3)
show t
t[0; `c1]
t[`c1]
t[;`c1]

c1 c2
------
10 1.1
20 2.2
30 3.3

10

10 20 30

10 20 30

In [32]:
oddEven:`odd`even!(1+2*til 10; 2*til 10)
flip oddEven

odd even
--------
1   0
3   2
5   4
7   6
9   8
11  10
13  12
15  14
17  16
19  18

In [33]:
([] c1:10 20 30; c2:10 20 30)

c1 c2
-----
10 10
20 20
30 30

In [1]:
table:([] column1:1000+til 6; column2:`a`b`c`d`e`f; column3:10*1+til 6)
table

column1 column2 column3
-----------------------
1000    a       10
1001    b       20
1002    c       30
1003    d       40
1004    e       50
1005    f       60

In [37]:
select from table

column1 column2 column3
-----------------------
1000    a       10
1001    b       20
1002    c       30
1003    d       40
1004    e       50
1005    f       60

In [2]:
type(table)

98h

In [40]:
select column1 from table
select secondcolmn:column2 from table
select sumOfColmns: column1+column3 from table

column1
-------
1000
1001
1002
1003
1004
1005

secondcolmn
-----------
a
b
c
d
e
f

sumOfColmns
-----------
1010
1021
1032
1043
1054
1065

# select count column1, sum column3 by column2 from table

In [43]:
select column2 by ovrund:column3<=40 from table

ovrund| column2
------| --------
0     | `e`f
1     | `a`b`c`d

## Example Trades

In [47]:
10?20

17 8 13 17 12 12 2 4 5 12

In [73]:
\P 4

In [74]:
10?10.0

8.69 2.326 9.714 5.678 9.18 9.634 3.65 1.751 9.706 6.38

In [59]:
10?`appl`ibm

`appl`ibm`appl`ibm`appl`ibm`ibm`ibm`appl`appl

In [75]:
dts:2015.01.01+1000000?31
tms:1000000:24:00:00.000000000
syms:1000000?`aapl`goog`ibm
vols:10*1+1000000?1000
pxs:90.0+(1000000?2001)%100

In [76]:
trades:([] dt:dts; tm:tms; sym:syms; vol:vols; px:pxs)
trades

dt         tm                      sym  vol  px
--------------------------------------------------
2015.01.15 1000D00:24:00.000000000 goog 7920 104.2
2015.01.10 1000D00:24:00.000000000 ibm  4660 95.63
2015.01.26 1000D00:24:00.000000000 ibm  7920 100.9
2015.01.15 1000D00:24:00.000000000 aapl 6420 90.69
2015.01.29 1000D00:24:00.000000000 aapl 6160 109.8
2015.01.11 1000D00:24:00.000000000 ibm  1170 94.12
2015.01.10 1000D00:24:00.000000000 goog 3560 99.56
2015.01.01 1000D00:24:00.000000000 goog 1790 96.58
2015.01.11 1000D00:24:00.000000000 ibm  8320 97.65
2015.01.15 1000D00:24:00.000000000 ibm  4460 94.38
2015.01.29 1000D00:24:00.000000000 goog 4640 103.9
2015.01.13 1000D00:24:00.000000000 goog 7840 101.6
2015.01.29 1000D00:24:00.000000000 goog 1820 98.44
2015.01.26 1000D00:24:00.000000000 aapl 8940 92.26
2015.01.07 1000D00:24:00.000000000 aapl 1420 108.3
2015.01.08 1000D00:24:00.000000000 ibm  5580 93.34
2015.01.19 1000D00:24:00.000000000 goog 7500 101.5
2015.01.27 1000D00:24:00.000000000 ibm  3050 109.8
2015.01.22 1000D00:24:00.000000000 aapl 6360 100
2015.01.03 1000D00:24:00.000000000 goog 4990 90.24
..

In [79]:
select avg px, avg vol by sym from trades
select min px, max px by sym from trades

sym | px  vol
----| --------
aapl| 100 5005
goog| 100 5005
ibm | 100 5011

sym | px px1
----| ------
aapl| 90 110
goog| 90 110
ibm | 90 110

In [80]:
5 xbar til 15
1 2 3 wavg 50 60 70

0 0 0 0 0 5 5 5 5 5 10 10 10 10 10

63.33

In [83]:
select vwap:vol wavg px by sym,1000 xbar tm from trades

sym  tm                     | vwap
----------------------------| ----
aapl 1000D00:24:00.000000000| 100
goog 1000D00:24:00.000000000| 100
ibm  1000D00:24:00.000000000| 100

In [84]:
t:([] c1:`a`b`c; c2:1.1 2.2 3.3)

In [85]:
`:examples/t set t

`:examples/t

In [86]:
csv 0:t

"c1,c2"
"a,1.1"
"b,2.2"
"c,3.3"

In [87]:
`:examples/t.csv 0: csv 0:t

`:examples/t.csv

In [88]:
read0 `:examples/t.csv

"c1,c2"
"a,1.1"
"b,2.2"
"c,3.3"

In [90]:
get `:examples/t

c1 c2
------
a  1.1
b  2.2
c  3.3